*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body */

body {
min-height: 100vh;
}

/* Body */


/* Header container */
.header-container{
    background-color:mediumvioletred ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header > div > div > h3 {
    display: inline;
    align-items:flex-start;
    margin-left: 20px;
}

header > div > div > img {
    width: 20px;
}

header > div > button {
    display: flex;
    align-items: center;
}
/* Header container */

/* Menu container */
nav {
    padding: 10px;
    background-color:#f2d0e0 ;
    display: flex;
    flex-direction: column;
    width: 200px;

}

img {
    width: 20px;
    margin-right: 10px;
}
nav > div {
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.nav-link {
    display: flex;
    margin: 10px;
}

/* Menu container */
/* Main container */

main {
    display: flex;
    min-height: 100vh;

}

/* Main container */

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    padding: 20px;
    height: 280px;
}

h4 {
    text-align: center;
}

section > div > img{
    width: 200px;

}

section > div > p {
    text-align: center;
    display: flex;
    font-size: 13px;
    padding: 3px;
    
}

section > div {
    box-shadow:3px 4px 5px 3px darkgrey;
    width: 200px;
}
/* section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    padding: 20px;
    height: 280px;
}

h4 {
    text-align: center;
}

section > div > img{
    width: 200px;

}

section > div > p {
    text-align: center;
    display: flex;
    font-size: 13px;
    padding: 3px;
    
}

section > div {
    box-shadow:3px 4px 5px 3px darkgrey;
    width: 200px;
} */


/* Footer container */
footer {
    background-color:mediumvioletred ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}


/* Footer container */